@page "/actor/show"

 <div class ="form-inline ">
    
<div class="form-group col-1.5">
    <a href="actor" class="btn btn-info">Listar Actores</a>
</div>

<div class="form-group col-2">
    <a href="actor/search" class="btn btn-success">Buscar Actores</a>
</div>

<div class="form-group col-1.5">
    <a href="actor/edit/" class="btn btn-primary">Editar Actor</a>
</div>

<div class="form-group col-2">
    <a href="actor/create/" class="btn btn-danger">Crear Actor</a>
</div>
</div>
