<EditForm Model ="Genre" OnValidSubmit="OnValidSubmit">
   <DataAnnotationsValidator></DataAnnotationsValidator>
   <div class="form-group">
      <label class="form-label">
         Genero
      </label>
      <div class="mb-3">
         <InputText class="form-control" @bind-Value="@Genre.Name"></InputText>
         <ValidationMessage For="@(()=>Genre.Name)"></ValidationMessage>
      </div>
   </div>
   <div class ="mb-3">
      <button type="submit" class="btn btn-success">Guardar</button>
   </div>
</EditForm>

@code{
[Parameter] public Genre Genre{get;set;}
[Parameter] public EventCallback OnValidSubmit{get;set;}
}