@page "/genres/show"

<div class ="form-inline ">

<div class="form-group col-2">
    <a href="genres/create" class="btn btn-info">Crear Categoría</a>
</div>

<div class="form-group">
    <a href="Genres/edit/" class="btn btn-success">Editar Categoría</a>
</div>
</div>
