@page "/movie/show"
<div class ="form-inline ">

<div class="form-group col-1.5">
    <a href="movies" class="btn btn-info">Listar peliculas</a>
</div>

<div class="form-group col-2">
    <a href="movies/search" class="btn btn-success">Buscar peliculas</a>
</div>

<div class="form-group col-1.5">
    <a href="Movies/edit/" class="btn btn-primary ">Editar Pelicula</a>
</div>

<div class="form-group col-2">
    <a href="movies/create/" class="btn btn-danger">Crear Pelicula</a>
</div>
</div>

@code {
}